@import "~styl/colors"

stepsProgression = \
  "intro", \
  "embedCode", \
  "schema", \
  "preview", \
  "details", \
  "creating", \
  "download"

[data-component="application"]
  line-height 1.5
  height 100vh
  width 100vw

  .app-content
    flex 1 1 auto
    position relative
    overflow hidden
    width 100vw

  .steps-container
    flex 1 0 auto
    transition transform .3s ease-in-out
    transform translate3d(0, 0, 0)
    will-change visibility, transform, opacity
    position absolute
    top 0
    right 0
    bottom 0
    left 0

  .step
    flex 0 0 auto
    overflow scroll
    transition visibility .4s linear
    width 100vw

    .headline
      align-items center
      color lighterGray
      display flex
      font-size 1.3em
      font-weight 300
      margin 1em 0

      .step-number
        align-items center
        border 2px solid gray
        border-radius 0.4em
        display flex
        height 2em
        justify-content center
        padding 1em
        width 2em

        + .label
          margin-left 1em

  .step[data-step]
    visibility hidden

  for step, index in stepsProgression
    &[data-active-step={step}] .steps-container
      transform translate3d((-100vw * index), 0, 0)

    &[data-active-step={step}] [data-step={step}]
      visibility visible

  .app-footer
    align-items center
    background-color offBlack
    flex 0 1 auto
    padding 1.5em

    .logo
      align-items center
      flex 0 1 auto

      svg
        height 3em
        width @height

        + .mode-label
          margin-left 1em

        path
          fill white

    .actions
      flex 1 1 auto
      justify-content flex-end

      .button
        align-items center
        display flex

        + .button
          margin-left 1em

        .icon
          display inline-block

        svg
          display inline-block
          fill currentColor
          height 1em
          width 1em

        .icon + .label
          margin-left .5em

        .label + .icon
          margin-left .5em
