main(data-component="application" data-flow="column")
  .app-content
    .steps-container(data-ref="stepsContainer")

  footer.app-footer
    .logo
      != require("../../assets/logo.svg")
      .mode-label Instant #{this.$modeLabel} Plugin

    .actions(data-ref="navigationContainer")
