@import "~styl/colors"

stepsProgression = "intro", "embedCode", "schema", "details", "preview",  "creating", "download"

[data-component="application"]
  height 100vh
  width 100vw

  .app-content
    flex 1 1 auto
    position relative
    overflow hidden
    width 100vw

  .steps-container
    flex 1 0 auto
    transition transform .3s ease-in-out
    position absolute
    top 0
    right 0
    bottom 0
    left 0

  .step
    width 100vw
    flex 0 0 auto

  // .step[data-step]
    // visibility hidden

  for step, index in stepsProgression
    &[data-active-step={step}] .steps-container
      transform translate3d((-100vw * index), 0, 0)

    &[data-active-step={step}] [data-step={step}]
      visibility visible

  .app-footer
    align-items center
    background-color offBlack
    flex 0 1 auto
    padding 1.5em

    .logo
      align-items center
      flex 0 1 auto

      svg
        height 3em
        width @height

        + .mode-label
          margin-left 1em

        path
          fill white

    .actions
      flex 1 1 auto
      justify-content flex-end

      .button
        align-items center
        display flex

        + .button
          margin-left 1em

        .icon
          display inline-block

        svg
          display inline-block
          fill currentColor
          height 1em
          width 1em

        .icon + .label
          margin-left .5em

        .label + .icon
          margin-left .5em
