selectionColor = #b4d5fe

offwhite = #fcfcfc
darkOffwhite = #fafafa

offBlack = #3b3b3b

darkGray = #616161
gray = #e0e0e0
lightGray = #ccc
lightGrayRGBA = rgba(#000, .045)
lightLineGray = #cacaca
lightLineGrayRGBA = rgba(#000, .21)
lighterGray = #eee
subtleText = #888

warnBackgroundColor = #fff5d6
warnColor = #713b1b

brandBlue = #2d88f3
brandOrange = #fd6e22
brandOrangeDark = #ffa31a

textColor = #444
containedTextColor = #444
mutedTextColor = #a5a5a5
