section(data-component="image-uploader" data-flow="column")
  .standard(filepicker data-ref="fileInputContainer")
    input(data-ref="hiddenURLInput" type="hidden" name=this.name)
    input(data-ref="fileInput" type="file" accept="image/*" id=this.id)
    label(class="button secondary transparent slim" for=this.id) Choose image...

  .standard.filepicker-with-image
    .image
      a(data-ref="imageAnchor" target="_blank")
        img(data-ref="previewImage")
      .actions
        button.button.secondary.small-action-button(data-ref="resetButton" type="button") Change
