@import "~styl/colors"

[data-component="image-uploader"]
  align-items center
  position relative
  z-index 1

  .standard
    border 1px solid #cfcfcf
    background #eee
    display block
    width 100%
    padding 1.25em
    text-align center
    border-radius .1875em

    div, img
      display block

  .standard[filepicker]
    display block
    position relative
    overflow hidden
    cursor pointer
    border-style dashed
    text-align center

    &:before
      content "Drag an image here"
      color subtleText
      display block
      font-size .7272em
      font-weight normal
      letter-spacing .072em
      text-transform uppercase

    &.dragging
      background-color rgba(#000, .1)

      &:before
        color inherit
        content "Drop to upload"

    &.uploading:before
      color inherit
      content "Uploading..."

    &[data-progress].uploading:before
      content "Uploading (" attr(data-progress) "%)..."

    &.error:before
      content "There was an error uploading, please try again."

    input[type="file"]
      opacity 0
      position absolute
      top 0
      left 0

    label[for]
      font-size .7em
      margin-top .7em

    &.dragging, &.uploading

      label[for]
        pointer-events none
        opacity .5

  .image img
    max-width 100%
    width 128px

  .standard.filepicker-with-image
    cursor default

    .image
      align-items center
      flex-flow column nowrap
      margin 0

      a
        display block

      img
        display block
        margin auto

      .actions
        margin-top 1.25em
        font-size .8em

  &[data-state="ready"] .filepicker-with-image
    display none

  &[data-state="uploaded"] .standard[filepicker]
    display none
