section(data-component="image-uploader" data-flow="column")
  .standard(filepicker data-ref="fileInputContainer")
    input(data-ref="fileInput" type="file" name="file" accept="image/*" id="image-uploader")
    label(class="button secondary transparent slim" for="image-uploader") Choose image...

  .standard.filepicker-with-image
    .image
      a(data-ref="imageAnchor" target="_blank")
        img(data-ref="previewImage")
      .actions
        button.button.secondary.small-action-button(data-ref="resetButton" type="button") Change
