@import "./styl/colors"
@import "./styl/fonts"
@import "./styl/font-smoothing"

.step[data-step="schema"]
  .step-details,
  .property-list,
  .embed-code-location-container
    flex 0 0 auto

  .entity
    padding 1.25em

    + .entity
      margin-top 1em

    &:last-of-type
      margin-bottom 1em

    .form
      flex 1 1 auto

      .standard
        flex 1 0 auto
        width 100%

  .embed-code-location
    width 100%

  .details
    width 27%
    margin-right 5%
    padding-top 0.15em

    .identifier, .token
      antialiasedFonts()
      font-family monospaceFonts
      line-height 1.6

    .token
      color subtleText
      display inline-block
      overflow hidden
      text-overflow ellipsis
      white-space nowrap

  .label
    display block
