section.step.padded(data-step="preview" data-flow="column")
  header.step-details(data-flow="column")
    h1.headline
      .step-number 4
      .label Preview your plugin.

  .content
    .preview-container(data-ref="previewContainer")
