@import "~styl/fonts"
@import "~styl/font-smoothing"

.step[data-step="embedCode"]
  .column
    flex 1 1 auto
    width 50%

  .column-details
    flex 0 0 auto

    .column
      padding-right 1em

  > .content
    flex 1 0 auto

  .embed-code-input, [data-component="attribute-picker"]
    antialiasedFonts()
    border 0
    font-family monospaceFonts
    line-height 1.6
    height 100%
    padding .8em 1.125em
    position relative
    resize none
    width 100%

  .embed-code-input
    background #fff
    min-height 100%

  .input-container
    position relative

  .demos
    display block
    margin-bottom 1em

    > *
      display inline-block
      vertical-align middle
      font-size .75em

    > span
      margin-right 1em

  .demo.button
    padding-left 1em
    padding-right @padding-left

    + .demo
      margin-left 1em
