@import "~normalize.css/normalize.css"
@import "./styl/buttons"
@import "./styl/fonts"

*, *::after, *::before
  box-sizing border-box

baseFontSize = 16px

html
  background #eee
  color textColor

html, body
  width 100%
  min-height 100vh

svg
  display block
  width 100%
  height 100%

body
  font-family sansSerifFonts
  font-size baseFontSize

div, footer, header, main, section
  display flex

[contenteditable]
  div, footer, header, section
    display block

[data-flow="column"]
  flex-flow column nowrap
