@import "~normalize.css/normalize.css"
@import "~styl/fonts"
@import "~styl/buttons"
@import "~styl/more-links-and-buttons"
@import "~styl/form"
@import "~styl/inputs"

*, *::after, *::before
  box-sizing border-box

baseFontSize = 16px

html
  background #eee
  color textColor

html, body
  width 100%
  min-height 100vh

svg
  display block
  width 100%
  height 100%

body
  font-family sansSerifFonts
  font-size baseFontSize

div, footer, header, main, section
  display flex

[contenteditable]
  div, footer, header, section
    display block

[data-flow="column"]
  display flex
  flex-flow column nowrap

.actions
  display block
  text-align center

  .button + .button
    margin-left 1em

.box + .actions
  margin-top 2em

.download-iframe
  position fixed
  z-index -99999
  visibility hidden
  width 1px
  height 1px

.made-by
  display block
  text-align center
  margin 4em auto 2em
  width 20em
  max-width 100%

  .label
    display block
    font-size .7em
    font-weight 100
    text-transform uppercase
    letter-spacing .1em
    text-indent @letter-spacing
    margin-bottom 1em
    opacity .3

  .logo-link
    color inherit
    display block
    width 6em
    height 3em
    margin auto

    &:not(:hover)
      opacity .3

    path
      fill currentColor

