@import "./styl/colors"
@import "./styl/fonts"
@import "./styl/font-smoothing"

[data-component="attribute-list"]

  > p:first-child
    padding-top 2em

  .entity
    padding 1.25em

    + .entity
      border-top 1px solid #eee

  .entity-details
    width 27%
    margin-right 5%
    padding-top 0.15em

    .entity-identifier, .entity-token
      antialiasedFonts()
      font-family monospaceFonts
      line-height 1.6

    .entity-token
      color subtleText
      display inline-block
      overflow hidden
      text-overflow ellipsis
      white-space nowrap

  .entity-label
    display block
    width 68%
