.step(data-ref="steps[]" data-step="attributes")
  p Click parts of the embed code to make them dynamic:

  .attribute-picker.box(data-ref="attributePicker")
  .attribute-list-mount(data-ref="attributeListMount")

  .actions
    button.button.secondary.transparent(data-ref="navigationButtons[]" data-step="embedCode") Back
    button.button.primary.next(data-ref="navigationButtons[]" data-step="preview") Preview Plugin
