.step[data-step="creating"]
  justify-content center

  .header
    align-items center
    text-align center

    h1
      font-weight normal
      color #888

    .loading-dots
      margin-left -1.5em
