@import "~styl/colors"

.step[data-step="details"]
  .legend
    position absolute
    right 0
    top 0
    margin-top .8em
    margin-right 2.5em
    font-size .8em

  .accent, .required::after
    color brandOrange

  .required::after
    content " *"
    display inline
