.step(data-ref="steps[]" data-step="details")
  form(data-ref="pluginDetailsForm")
    .box.form
      aside.legend
        span.accent *&nbsp;
        span Required

      .input
        label.required Email
        input.standard(name="email" placeholder="Email" required type="email")

      .input
        label.required Title
        input.standard(name="app[title]" placeholder="Title" required type="text")

      .input
        label
          span.required Short Description
          .help-text
            | A short description of the app.

        input.standard(maxlength="150" name="app[description]" placeholder="Description" required type="text")

      .input
        label Full Description
          .help-text
            | A long description for the WordPress Plugin page. No length limit.

        textarea.standard(name="app[metadata][description]" placeholder="Full description")

      .input
        label Instructions
          .help-text
            | Installation instructions for the WordPress installer.

        textarea.standard(name="app[metadata][instructions]" placeholder="Instructions")

      .input
        label FAQ
          .help-text
            | Frequently asked questions about the app.

        textarea.standard(name="app[metadata][targets][wordpress][faq]" placeholder="FAQ")

      .input
        label
          span.required Icon
          .help-text
            | A 256×256 PNG, or SVG file.

          section(data-ref="imageUploadMount")

    .actions
      button.button.secondary.transparent(
        data-ref="navigationButtons[]"
        data-step="preview"
        type="button") Back
      input.button.primary.next(type="submit" value="Download Plugin")
