.step[data-step="download"]
  .header
    align-items center
    text-align center

  .logo
    display inline-block
    max-width 100%
    width 75px

    > svg
      display block
      width 100%
      height 100%

  .content
    width 50%
    margin 1em auto

  .download-details[data-state="waiting"]
    display none
