.step(data-flow="column" data-ref="steps[]" data-step="download")
  header.header(data-flow="column")
    h1 Your plugin is being created.

    .logo
      != require("../../../assets/logo.svg")

  .content(data-flow="column")
    a.download-link.more(data-ref="downloadLink" download)
      | Download the WordPress plugin

    div (Your download should begin automatically.)






