@import "styl/colors"

.step[data-step="download"]

  .download-link
    color inherit
    text-align center
    text-decoration none
    color brandBlue
    font-weight 500

  .content
    width 50%
    margin 1em auto
