@import "styl/colors"

.step[data-step="embedCode"]

  .input-container
    position relative

  .demos
    display block
    text-align center
    margin-bottom 1em

    > *
      display inline-block
      vertical-align middle

    > .button
      font-size .8em

    > span
      color paragraphColor
      margin-right 1em
      font-weight 300

  .demo.button
    padding-left 1em
    padding-right @padding-left

    + .demo
      margin-left 1em
