.step[data-step="embedCode"]

  .input-container
    position relative

  .demos
    display block
    text-align center
    margin-bottom 1em

    > *
      display inline-block
      vertical-align middle
      font-size .75em

    > span
      margin-right 1em

  .demo.button
    padding-left 1em
    padding-right @padding-left

    + .demo
      margin-left 1em
