.step(data-flow="column" data-ref="steps[]" data-step="intro")
  h2 Publish your JavaScript embed code to 74.6 Million users in seconds.

  .content
    p
      | The majority of WordPress users are non-technical.
      | Many will find it difficult or impossible to paste an embed code.

    p
      | IWP wraps your embed code and creates a plugin that is
      | ready for the WordPress Plugin Directory.

  footer.actions
    button.button.secondary.transparent(data-ref="navigationButtons[]" data-step="demo") Demo
    button.button.primary.next(data-ref="navigationButtons[]" data-step="embedCode") Start
