.step(data-flow="column" data-ref="steps[]" data-step="intro")
  h2 Your JavaScript embed code, now accessible to 74.6 million users.

  .content
    :marked
      JavaScript can bring a site to life.
      Web developers can take advantage of high quality features as quickly as they can paste an embed code.

      Many WordPress users may find that pasting a &lt;script&gt; tag to install a tool onto their site is simply too technical.
      WordPress plugins allow these non-technical users to use more tools with a few clicks.

      Creating a plugin by hand can be time consuming.
      IWP wraps your embed code and creates a plugin that is ready for the WordPress Plugin Directory.

  footer.actions
    button.button.primary.next(data-ref="navigationButtons[]" data-step="embedCode") Start
