@import "~styl/colors"

.step[data-step="intro"]

  h2
    text-align center
    color #555
    font-weight normal
    width 17em
    max-width 100%
    font-size 2em
    font-weight 500
    line-height 1.3
    margin .5em auto

  p
    font-size 1.125em
    color #777
    font-weight 300
    margin .6em 0
    text-align left

  .content
    display block
    width 29em
    max-width 100%
    margin-left auto
    margin-right auto
    margin-bottom 3em
