.step(data-flow="column" data-ref="steps[]" data-step="intro")
  h2 Your JavaScript embed code, now accessible to 74.6 million users.

  .content
    :marked
      JavaScript can bring a site to life.
      Web developers can take advantage of high quality features as quickly as they can paste an embed code.

      For the majority of WordPress users, many will find it difficult or impossible to paste an `<script>` tag.
      We can bridge the gap for these non-technical users with WordPress plugins.


      Creating a plugin by hand can be time consuming.
      IWP wraps your embed code and creates a plugin that is ready for the WordPress Plugin Directory.

  footer.actions
    button.button.primary.next(data-ref="navigationButtons[]" data-step="embedCode") Start
