.step(data-ref="steps[]" data-step="preview")
  h1.headline Try a preview of your new plugin.
  p.short-instructions Click “Next” when you’re ready to download.

  .preview-container-wrapper.box
    .preview-container(data-ref="previewContainer")

  .actions
    button.button.secondary.transparent(data-ref="navigationButtons[]" data-step="attributePicker") Back
    button.button.primary.next(data-ref="navigationButtons[]" data-step="details") Next
