.step(data-ref="steps[]" data-step="preview")
  h2 Try a preview of your new plugin.

  .content.short-instruction
    p Click “Next” when you’re ready to download.

  .preview-container-wrapper.box
    .preview-container(data-ref="previewContainer")

  .actions
    button.button.secondary.transparent(data-ref="navigationButtons[]" data-step="attributes") Back
    button.button.primary.next(data-ref="navigationButtons[]" data-step="details") Next
