section.step.with-header-offset(data-step="download" data-flow="column")
  header.header(data-flow="column")
    img.icon(data-ref="icon")

    h1 Your plugin is downloading...

    a.download-link.more(data-ref="downloadLink" download)
      | Download immediately
