main(data-component="application" data-flow="column" data-active-step="embedCode")
  header.header(data-flow="column")
    a.logo-link
      != require("../../assets/logo.svg")

    h1 Instant WordPress Plugin

  .steps(data-ref="stepsContainer")
    include ./steps/intro.pug
    include ./steps/embed-code.pug
    .step(data-ref="attributePickerMount")
    include ./steps/preview.pug
    include ./steps/details.pug
    include ./steps/creating.pug
    include ./steps/download.pug

  a.made-by.button.secondary(href="https://github.com/EagerIO/InstantPlugin" tabindex="-1")
    span.label Made by
    != require("../../assets/eager-logo.svg")
