@import "./styl/colors"
@import "./styl/fonts"
@import "./styl/font-smoothing"

[data-component="application"]
  width 100%
  position relative
  z-index 2
  align-items center
  flex-flow column nowrap
  justify-content center
  padding-top 3em
  padding-bottom @padding-top
  line-height 1.5
  min-height 100vh

  .logo-link
    width 60px
    max-width 100%

    > svg
      display block
      width 100%
      height 100%

  h1
    color brandOrange
    margin .4em 0 1.25em

  @media mobileMaxWidthQuery
    padding-top 4em
    padding-bottom @padding-top

  .embed-code-input, .attribute-picker
    antialiasedFonts()
    display block
    font-family monospaceFonts
    border 0
    padding .8em 1.125em
    border-radius .75em
    resize none
    min-height 17.3em
    line-height 1.6
    width 100%
    background #fff
    box-shadow 0 .1875em .375em -.1875em rgba(#000, .325)

  .embed-code-input
    color inherit

    &:focus
      outline none

  .attribute-picker
    color mutedTextColor

    .hljs-string, .hljs-number
      color textColor

  .steps
    width 40em
    max-width calc(100vw - 2em)
    position relative

    .step
      position relative
      display block
      width 100%
      margin auto
      transition transform .3s ease, opacity .3s ease
      transform translate3d(0, 0, 0)
      opacity 1

      p
        text-align center
        font-size 1.25em
        font-weight 300
        margin 0 0 1em

    .step-buttons
      display block
      margin-top 2em
      text-align center

      button + button
        margin-left 1em

    &[data-active-step="embed-code"] .attribute-step, &[data-active-step="attribute"] .embed-code-step
      pointer-events none
      position absolute
      opacity 0

    &[data-active-step="embed-code"] .attribute-step
      transform translate3d(5em, 0, 0)

    &[data-active-step="attribute"] .embed-code-step
      transform translate3d(-5em, 0, 0)

    &[data-active-step="attribute"] [data-entity-id]

      &::after
        content ""
        display block
        position absolute
        border-radius 2em
        top 0
        right 0
        bottom 0
        left 0
        pointer-events none

      for i in (0..20)
        &[data-entity-order={'"' + i + '"'}]::after
          animation highlight-entity 1s ease-in-out
          animation-fill-mode forwards
          animation-delay .15s * i

  .attribute-picker
    cursor default
    overflow-wrap break-word
    user-select none
    white-space pre-wrap
    word-break break-word
    word-wrap break-word

    [data-entity-id]
      position relative
      border-radius 2em
      padding .0625em .5em
      cursor pointer
      box-shadow 0 0 0 1px rgba(mutedTextColor, .5)
      background #eee

      &:not(.tracked):hover
        box-shadow 0 0 0 1px rgba(textColor, .8)

      &.tracked
        background #fff
        box-shadow 0 0 0 2px brandOrange

  .made-by
    display block
    text-align center
    margin 4em auto 0
    width 20em
    max-width 100%

    .label
      display block
      font-size .7em
      font-weight 100
      text-transform uppercase
      letter-spacing .1em
      text-indent @letter-spacing
      margin-bottom 1em
      opacity .3

    .logo-link
      color inherit
      display block
      width 6em
      height 3em
      margin auto

      &:not(:hover)
        opacity .3

      path
        fill currentColor

@keyframes highlight-entity
  0%
    box-shadow 0 0 0 1px rgba(brandOrange, 0)
    animation-timing-function ease-in

  50%
    box-shadow 0 0 0 3px rgba(brandOrange, .5)
    animation-timing-function ease-out

  100%
    box-shadow 0 0 0 5px rgba(brandOrange, 0)
    animation-timing-function ease-out
