main(data-component="application" data-flow="column")
  header.header(data-flow="column")
    a.logo-link
      != require("../../assets/logo.svg")

    h1 Instant WordPress Plugin

  .steps(data-active-step="embed-code" data-ref="stepsContainer")
    .step(data-ref="steps[]" data-step="embed-code")
      p Paste your embed code below:

      textarea.embed-code-input.box(
        autofocus
        data-ref="embedCodeInput"
        placeholder="<script>\n  \n  \n  \n  \n  \n  \n  \n  \n</script>")

      .actions
        button.button.secondary.transparent(data-ref="navigationButtons[]" data-step="intro") Back
        button.button.primary.next(data-ref="navigationButtons[]" data-step="attributes") Next

    include ./steps/intro.pug

    .step(data-ref="steps[]" data-step="attributes")
      p Click parts of the embed code to make them dynamic:

      .attribute-picker.box(data-ref="attributePicker")
      .attribute-list-mount(data-ref="attributeListMount")

      .actions
        button.button.secondary.transparent(data-ref="navigationButtons[]" data-step="embed-code") Back
        button.button.primary.next(data-ref="navigationButtons[]" data-step="preview") Preview Plugin

    .step(data-ref="steps[]" data-step="preview")
      .preview-container-wrapper.box
        .preview-container(data-ref="previewContainer")

      .actions
        button.button.secondary.transparent(data-ref="navigationButtons[]" data-step="attributes") Back
        button.button.primary.next(data-ref="navigationButtons[]" data-step="details") Next


    include ./steps/details.pug
    include ./steps/download.pug
